<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img
            src="assets/ps-logo.png"
            alt=""
            srcset=""
            width="140px"
            height="32px" />
    </div>

    <div class="menu-bar__item">
        <ul>
            <li>
                <a href="https://www.youtube.com/" target="_blank">YOUTUBE</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/diva-p/" target="_blank">LINKDIN</a>
            </li>
            <li>
                <a href="https://github.com/divaprates" target="_blank">GITHUB</a>
            </li>
        </ul>
    </div>
</div>